body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 202, 128);
}

h1 {
  text-align: center;
}
.btn-conteiner {
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 150px;
  height: 50px;
  font-size: larger;
}

#griffindor-Btn {
  background-color: rgb(231, 111, 32);
  color: red;
}
#slytherin-Btn {
  background-color: green;
}
#huffelpuff-Btn {
  background-color: yellow;
}
#ravenclaw-Btn {
  background-color: blue;
}

.house-Conteiner {
  display: flex;
  justify-content: space-around;
}
