body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 194, 147);
}

h1 {
  text-align: center;
}
.btn-conteiner {
  display: flex;
  justify-content: center;
}
.btn {
  width: 100px;
  margin: 30px;
}

#griffindor-Btn {
  background-color: red;
}
#slytherin-Btn {
  background-color: green;
}
#huffelpuff-Btn {
  background-color: yellow;
}
#ravenclaw-Btn {
  background-color: blue;
}
